<template>
  <div class="relative text-white bg-brand-dark">
    <div class="absolute inset-0">
      <img
        class="object-cover w-full h-full"
        src="../../assets/bg.png"
        alt=""
      />
      <div
        class="absolute inset-0 bg-gray-800 mix-blend-multiply"
        aria-hidden="true"
      ></div>
    </div>

    <div class="relative py-48 space-y-10 responsive">
      <div>
        <p
          class="block text-base font-semibold tracking-wide uppercase text-brand-light"
        >
          Speedbewerbung
        </p>
        <h1
          class="text-3xl font-light break-words lg:text-5xl text-brand-dark-blue"
        >
          Bewirb dich jetzt schnell und einfach
        </h1>
      </div>
      <p class="text-xl font-light leading-relaxed tracking-wide">
        Mit enra machen Sie sich auf den Weg, Ihren Verkaufsprozess digitaler
        und effizienter zu machen. Mehr Umsatz, weniger Ressourcen und
        zufriedene Kunden - das ist unser Versprechen. Dieser Erfolg gelingt mit
        Hilfe einer optimalen Customer Journey, welche von persönlichen und
        digitalen Kontaktpunkten geprägt ist. Ihr Content wird in diesem Prozess
        zum Fundament. Die Plattform bietet Ihnen von der Leadgenerierung durch
        digitale Events, über personalisierte Verkaufsräume bis hin zur
        personalisierten Nachbearbeitung umfangreiche Unterstützung in allen
        Phasen der Customer Journey. Lets embrace.
      </p>
    </div>
  </div>
</template>
