<template>
  <header class="bg-brand-gray w-full text-white py-5">
    <nav class="responsive flex items-center justify-between">
      <router-link to="/">
        <img class="w-auto h-16" src="../../assets/logo.svg" alt="" />
      </router-link>
      <div class="space-x-5">
        <router-link to="/" class="button bg-brand-blue text-white"
          >Bewerben
        </router-link>
      </div>
    </nav>
  </header>
</template>
