<script setup lang="ts">
import pdf from "../assets/Lebenslauf Sauerbier.pdf";
import Contact from "../components/Bewerbung/Contact.vue";

const people = [
  {
    name: "Kristian",
    title: "Drucker",
    email: "Kristian.Drucker@enra-qr.de",
    role: "Entwicklung",
  },
  {
    name: "Joschua",
    title: "Boos",
    email: "Joschua.Boos@enra-qr.de",
    role: "Vertrieb",
  },
  {
    name: "Ole",
    title: "Brieger",
    email: "Ole.Brieger@enra-qr.de",
    role: "Marketing",
  },
  {
    name: "Alexander",
    title: "Enste",
    email: "Alexander.Enste@enra-qr.de",
    role: "Personalabteilung",
  },
  {
    name: "Maximilian",
    title: "Sauerbier",
    email: "Maximilian.Sauerbier@enra-qr.de",
    role: "Entwicklung",
  },
];
</script>

<template>
  <div class="h-screen space-y-20 responsive">
    <div class="px-4 mt-20 sm:px-6 lg:px-8">
      <div class="sm:flex sm:items-center">
        <div class="sm:flex-auto">
          <h1 class="text-xl font-semibold text-gray-900">Bewerber</h1>
          <p class="mt-2 text-sm text-gray-700">
            Eine Liste der Bewerber durch die Speedbewerbung!
          </p>
        </div>
      </div>
      <div class="flex flex-col mt-8">
        <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
          <div
            class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8"
          >
            <div
              class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 md:rounded-lg"
            >
              <table class="min-w-full divide-y divide-gray-300">
                <thead class="bg-gray-50">
                  <tr>
                    <th
                      scope="col"
                      class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6"
                    >
                      Vorname
                    </th>
                    <th
                      scope="col"
                      class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
                    >
                      Nachname
                    </th>
                    <th
                      scope="col"
                      class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
                    >
                      E-Mail
                    </th>
                    <th
                      scope="col"
                      class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
                    >
                      Beruf
                    </th>
                    <th
                      scope="col"
                      class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
                    >
                      Lebenslauf
                    </th>
                  </tr>
                </thead>
                <tbody class="bg-white divide-y divide-gray-200">
                  <tr v-for="person in people" :key="person.email">
                    <td
                      class="py-4 pl-4 pr-3 text-sm font-medium text-gray-900 whitespace-nowrap sm:pl-6"
                    >
                      {{ person.name }}
                    </td>
                    <td
                      class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap"
                    >
                      {{ person.title }}
                    </td>
                    <td
                      class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap"
                    >
                      {{ person.email }}
                    </td>
                    <td
                      class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap"
                    >
                      {{ person.role }}
                    </td>
                    <td
                      class="relative py-4 pl-3 pr-4 text-sm font-medium whitespace-nowrap sm:pr-6"
                    >
                      <a
                        :href="pdf"
                        target="_blank"
                        class="text-brand-blue hover:text-brand-light"
                      >
                        Download
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <Contact />
  </div>
</template>
