<template>
  <div class="space-y-20">
    <Keyvisual />
    <Form />
  </div>
</template>

<script setup lang="ts">
import Keyvisual from "../components/Keyvisual/Keyvisual.vue";
import Form from "../components/Bewerbung/Form.vue";
</script>
