<template>
  <div class="space-y-20">
    <Keyvisual />
    <Login />
  </div>
</template>

<script setup lang="ts">
import Keyvisual from "../components/Keyvisual/Keyvisual.vue";
import Login from "../components/Auth/login.vue";
</script>
