<template>
  <div class="space-y-20">
    <Keyvisual />
    <Register />
  </div>
</template>

<script setup lang="ts">
import Keyvisual from "../components/Keyvisual/Keyvisual.vue";
import Register from "../components/Auth/register.vue";
</script>
