<script setup lang="ts">
import { ref } from "vue";
import Loadcircle from "../svg/loadcircle.vue";
import Contact from "./Contact.vue";
import firebase from "firebase/compat/app";
import { getFirestore, addDoc, collection } from "firebase/firestore";

const firebaseConfig = {
  apiKey: "AIzaSyAfVNKp5u2cj__pUC9e9HOFT_dVl2oghow",
  authDomain: "speedbewerbung-5c357.firebaseapp.com",
  projectId: "speedbewerbung-5c357",
  storageBucket: "speedbewerbung-5c357.appspot.com",
  messagingSenderId: "35710005422",
  appId: "1:35710005422:web:e0e3ef0f68256df9b1bd3f",
};

firebase.initializeApp(firebaseConfig);

const db = getFirestore();

let loading = ref(false);
let email = ref("");

async function createObject() {
  try {
    await addDoc(collection(db, "application"), {
      name: email.value,
    });
  } catch (e: any) {
    throw new Error(e);
  }
}
</script>

<template>
  <div class="responsive">
    <form @submit.prevent="createObject">
      <label for="email" class="block text-sm font-medium text-gray-700"
        >Email</label
      >
      <div class="space-y-5">
        <input
          v-model="email"
          type="email"
          name="email"
          id="email"
          class="block border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
          placeholder="you@example.com"
        />
        <button class="flex items-center text-white button bg-brand-blue">
          <Loadcircle v-if="loading" />
          Abschicken
        </button>
        <!-- <div>{{ error }}</div> -->
      </div>
    </form>
    <Contact />
  </div>
</template>
