<template>
  <div class="max-w-screen-lg px-5 mx-auto text-lg lg:px-0">
    <div class="grid gap-12 md:grid-cols-2">
      <img src="../../assets/lara.png" alt="" />
      <div>
        <h3 class="text-lg font-medium text-brand-blue">
          Kontaktinformationen
        </h3>
        <p class="max-w-3xl mt-6 text-base text-brand-blue">
          Du möchtest in einem wachsenden Markt mit spannenden und
          abwechslungsreichen Beschäftigungsfeldern arbeiten? Dann werde einfach
          Teil unseres Teams.
        </p>
        <dl class="mt-8 space-y-6">
          <dt><span class="sr-only">Phone number</span></dt>
          <dd class="flex text-base text-brand-blue">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="self-center w-5 h-5"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                d="M2 3a1 1 0 011-1h2.153a1 1 0 01.986.836l.74 4.435a1 1 0 01-.54 1.06l-1.548.773a11.037 11.037 0 006.105 6.105l.774-1.548a1 1 0 011.059-.54l4.435.74a1 1 0 01.836.986V17a1 1 0 01-1 1h-2C7.82 18 2 12.18 2 5V3z"
              />
            </svg>

            <span class="ml-3"
              ><a href="" class="hover:underline">+49 300 300 1 0 1</a></span
            >
          </dd>
          <dt><span class="sr-only">Email</span></dt>
          <dd class="flex text-base text-brand-blue">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="self-center w-5 h-5"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"
              />
              <path
                d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"
              />
            </svg>

            <span class="ml-3"
              ><a href="" class="hover:underline">kontakt@company.de</a></span
            >
          </dd>
          <dt><span class="sr-only">Web</span></dt>
          <dd class="flex text-base text-brand-blue">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="self-center w-5 h-5"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fill-rule="evenodd"
                d="M10 18a8 8 0 100-16 8 8 0 000 16zM4.332 8.027a6.012 6.012 0 011.912-2.706C6.512 5.73 6.974 6 7.5 6A1.5 1.5 0 019 7.5V8a2 2 0 004 0 2 2 0 011.523-1.943A5.977 5.977 0 0116 10c0 .34-.028.675-.083 1H15a2 2 0 00-2 2v2.197A5.973 5.973 0 0110 16v-2a2 2 0 00-2-2 2 2 0 01-2-2 2 2 0 00-1.668-1.973z"
                clip-rule="evenodd"
              />
            </svg>

            <span class="ml-3"
              ><a href="" target="_blank" class="hover:underline"
                >web.site</a
              ></span
            >
          </dd>
        </dl>
        <ul class="flex mt-8 space-x-6" role="list">
          <li>
            <a class="text-brand-blue" href="" target="_blank">
              <span class="sr-only">LinkedIn</span>
              <img src="../../assets/linkedin_b.svg" class="w-8 h-8" alt="" />
            </a>
          </li>
          <li>
            <a class="text-brand-blue" href="" target="_blank">
              <span class="sr-only">Instagram</span>
              <img src="../../assets/instagram2_b.svg" class="w-8 h-8" alt="" />
            </a>
          </li>
          <li>
            <a class="text-brand-blue" href="" target="_blank">
              <span class="sr-only">Facebook</span>
              <img src="./facebook_b.svg" class="w-8 h-8" alt="" />
            </a>
          </li>
          <li>
            <a class="text-brand-blue" href="" target="_blank">
              <span class="sr-only">YouTube</span>
              <img src="../../assets/youtube_b.svg" class="w-8 h-8" alt="" />
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>
