<script setup lang="ts">
import {
  CreditCardIcon,
  KeyIcon,
  UserCircleIcon,
  UserGroupIcon,
  ViewGridAddIcon,
} from "@heroicons/vue/outline";
import { ref } from "vue";
import Loadcircle from "../svg/loadcircle.vue";
import Alert from "../alerts/alert.vue";
import Contact from "./Contact.vue";
import firebase from "firebase/compat/app";
import { getFirestore, addDoc, collection } from "firebase/firestore";

const firebaseConfig = {
  apiKey: "AIzaSyAfVNKp5u2cj__pUC9e9HOFT_dVl2oghow",
  authDomain: "speedbewerbung-5c357.firebaseapp.com",
  projectId: "speedbewerbung-5c357",
  storageBucket: "speedbewerbung-5c357.appspot.com",
  messagingSenderId: "35710005422",
  appId: "1:35710005422:web:e0e3ef0f68256df9b1bd3f",
};

firebase.initializeApp(firebaseConfig);

const db = getFirestore();

let loading = ref(false);
let success = ref(false);
let email = ref("");
let firstname = ref("");
let lastname = ref("");

const navigation = ref([
  { name: "Entwicklung", job: "development", icon: UserCircleIcon },
  { name: "Marketing", job: "marketing", icon: KeyIcon },
  { name: "Vertrieb", job: "sales", icon: CreditCardIcon },
  { name: "Personalabteilung", job: "hr", icon: UserGroupIcon },
]);
const current = ref("development");

async function createObject() {
  loading.value = true;
  try {
    await addDoc(collection(db, "application"), {
      job: current.value,
      email: email.value,
      firstname: firstname.value,
      lastname: lastname.value,
    });
    setTimeout(() => {
      success.value = true;
      email.value = "";
      firstname.value = "";
      lastname.value = "";
      loading.value = false;
    }, 2000);
  } catch (e: any) {
    throw new Error(e);
  }
}
</script>

<template>
  <div class="space-y-20 responsive">
    <div class="lg:grid lg:grid-cols-12 lg:gap-x-5">
      <aside class="px-2 py-6 lg:py-0 lg:px-0 lg:col-span-3">
        <nav class="space-y-1">
          <div
            v-for="(item, i) in navigation"
            :key="i"
            :class="[
              item.job === current
                ? 'bg-gray-50 text-brand-blue hover:text-brand-blue'
                : 'text-gray-900 hover:text-gray-900 hover:bg-gray-50',
              'group rounded-md px-3 py-2 flex items-center text-sm font-medium cursor-pointer',
            ]"
            @click="current = item.job"
          >
            <component
              :is="item.icon"
              :class="[
                item.job === current
                  ? 'text-brand-light group-hover:text-brand-light'
                  : 'text-gray-400 group-hover:text-gray-500',
                'flex-shrink-0 -ml-1 mr-3 h-6 w-6',
              ]"
            />
            <span class="truncate">
              {{ item.name }}
            </span>
          </div>
        </nav>
      </aside>

      <div class="space-y-6 lg:px-0 lg:col-span-9">
        <form ref="application" @submit.prevent="createObject">
          <div class="shadow sm:rounded-md sm:overflow-hidden">
            <div class="px-4 py-6 space-y-6 bg-white sm:p-6">
              <Alert v-if="success" />
              <div>
                <h3 class="text-lg font-medium leading-6 text-gray-900">
                  Dein Profil
                </h3>
                <p class="mt-1 text-sm text-gray-500">
                  Füll das Formular aus und bewirb dich ganz einfach und schnell
                  bei uns!
                </p>
              </div>

              <div class="grid grid-cols-6 gap-6">
                <div class="col-span-6 sm:col-span-3">
                  <label
                    for="first-name"
                    class="block text-sm font-medium text-gray-700"
                    >Vorname</label
                  >
                  <input
                    v-model="firstname"
                    type="text"
                    name="first-name"
                    id="first-name"
                    autocomplete="given-name"
                    class="block w-full px-3 py-2 mt-1 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-brand-blue focus:border-brand-blue sm:text-sm"
                    required
                  />
                </div>

                <div class="col-span-6 sm:col-span-3">
                  <label
                    for="last-name"
                    class="block text-sm font-medium text-gray-700"
                    >Nachname</label
                  >
                  <input
                    v-model="lastname"
                    type="text"
                    name="last-name"
                    id="last-name"
                    autocomplete="family-name"
                    class="block w-full px-3 py-2 mt-1 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-brand-blue focus:border-brand-blue sm:text-sm"
                    required
                  />
                </div>

                <div class="col-span-6">
                  <label
                    for="email-address"
                    class="block text-sm font-medium text-gray-700"
                    >E-Mail</label
                  >
                  <input
                    v-model="email"
                    type="text"
                    name="email-address"
                    id="email-address"
                    autocomplete="email"
                    class="block w-full px-3 py-2 mt-1 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-brand-blue focus:border-brand-blue sm:text-sm"
                    required
                  />
                </div>

                <div class="sm:col-span-6">
                  <label
                    for="cover-photo"
                    class="block text-sm font-medium text-gray-700"
                  >
                    Lebenslauf
                  </label>
                  <div
                    class="flex justify-center px-6 pt-5 pb-6 mt-1 border-2 border-gray-300 border-dashed rounded-md"
                  >
                    <div class="space-y-1 text-center">
                      <svg
                        class="w-12 h-12 mx-auto text-gray-400"
                        stroke="currentColor"
                        fill="none"
                        viewBox="0 0 48 48"
                        aria-hidden="true"
                      >
                        <path
                          d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                      <div class="flex text-sm text-gray-600">
                        <label
                          for="file-upload"
                          class="relative font-medium bg-white rounded-md cursor-pointer text-brand-blue hover:text-brand-light focus-within:outline-none focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-brand-light"
                        >
                          <span>Datei auswählen</span>
                          <input
                            id="file-upload"
                            name="file-upload"
                            type="file"
                            class="sr-only"
                          />
                        </label>
                        <p class="pl-1">or drag and drop</p>
                      </div>
                      <p class="text-xs text-gray-500">
                        PNG, JPG oder PDF bis zu 10MB
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="px-4 py-3 text-right bg-gray-50 sm:px-6">
              <button
                :disabled="loading"
                type="submit"
                class="inline-flex justify-center px-4 py-2 text-sm font-medium text-white border border-transparent rounded-md shadow-sm bg-brand-blue hover:bg-brand-blue focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-brand-blue"
              >
                <Loadcircle v-if="loading" />
                Abschicken
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <Contact />
  </div>
</template>
