<template>
  <div class="bg-brand-blue py-10 text-white grid place-items-center mt-20">
    <div>
      <a
        href="https://enra.app/datenschutz"
        target="_blank"
        class="hover:underline"
        >Datenschutz</a
      >
      |
      <a
        href="https://enra.app/datenschutz"
        target="_blank"
        class="hover:underline"
        >Impressum</a
      >
    </div>
  </div>
</template>
