<template>
  <div>
    <Navigation />
    <router-view />
    <Footer />
  </div>
</template>

<script setup lang="ts">
import Navigation from "./components/Navigation/Navigation.vue";
import Footer from "./components/Footer/Footer.vue";
</script>

<style>
.responsive {
  @apply mx-auto max-w-7xl 2xl:px-0 px-5;
}

.button {
  @apply px-3 py-2 rounded-md hover:opacity-95;
}

.input {
  @apply shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block sm:text-sm border-gray-300 rounded-md;
}
</style>
